.container{
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
}


.container div{
    border: solid 1px black;
    text-align: center;
}