.box{
  height: 500px;
  border: dotted 2px greenyellow ;

}



.box div:first-child{
  height: 100px;
  width: 40%;
  background-color: red;
  display: inline-block;
  
  margin: 0px;
}

.box div:nth-child(2){
  height: 100px;
  width: 40%;
  background-color: blue;
  display: inline-block;
  margin: 0px;
}

.box div + div {
  border:  solid 5px black;
}