body {
  text-align: center;
  margin: 2rem auto;
  height: 100vh;

  background-image: url(img/pic.jpg);
  background-repeat: no-repeat;

  background-position: center;
  background-size:100% 100%;
  /* background-attachment: fixed; */
}
