* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .grid-container {
  margin: 50px auto;
  display: grid;
  max-width: 990px;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  grid-gap: 10px;
}
.item {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 20px;
} */

.grid-container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  max-width: 990px;
  flex-wrap: wrap;
}

.item {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 20px;
  flex: 1 1 13rem;
}
