* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .grid-container {
  margin: 50px auto;
  display: grid;
  max-width: 990px;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  grid-gap: 10px;
}
.item {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 20px;
} */

.grid-container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 990px; */
}

.item {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 20px;
  flex: 1 0 max(25%, 14rem);
}

/* 
@media (min-width: 990px) {
  .item {
    flex: 1 1 18rem;
  }
}
@media (min-width: 1300px) {
  .item {
    flex: 1 1 23rem;
  }
} */